input{
  width: 10%;
  padding: 12px 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;

}

span{
text-align: center;
  padding:12px 12px 12px 12px;
  margin: 20px 20px 20px 20px;
  box-sizing: border-box;
}
