.App {
  text-align: center;
font-style: oblique;
text-align: center;
opacity: 0.8;


}









#left {
  width: 300px;
  float: left;
  border-style: solid;
padding: 10px 10px;
font-style: oblique;
background-color: rgb(63, 72, 86);
border-radius: 25px;
text-align: left;
text-decoration: none;
margin-left: 50px;

}
body{
  color: white;
  align-items: right;
  padding: 10px 10px;
  background-color: rgb(63, 72, 86);
}

h1{
  padding: 10px 10px;
  font-style: italic;
  position: relative;
  background-color: rgb(63, 72, 86);
    text-shadow: 1px 1px red;
    margin: auto;
    color:white;
    font-size: 20px;
     list-style-type: circle;
}
